html{
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6 {
 margin: 0;
}

.container {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
body {
margin: 0;
font-family: 'Roboto', sans-serif;
}

.block_menu {
display: flex;
justify-content: space-between;
margin-left: -22px;
margin-bottom: -23px;
padding-top: 20px;
}

.block_ul {
display: flex;
list-style: none;
margin-left: -40px;
}
.block_item_li {
margin-right: 24px;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
height: 19px;
}

.icon_number {
margin-left: -22px;
}
.number_tel {
width: 160px;
height: 21px;

}
.number_h4 {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 180px;
height: 16px;
white-space: nowrap;
}

.block_button {

width: 173px;
height: 45px;
border-width: 1px;
border-radius: 3px;
border: 1px solid #6CAC3D;
background-color:#FFFFFF ;
}
.button_h4 {
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #6CAC3D;
width: 172px;
height: 19px;
padding-right: 15px;
}
.li_span {
color: blue;
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}
.icon {
width: 126px;
height: 44px;
}
.main_menu {
margin-top: 23px;
margin-bottom: 33px;
}
.main_ul {
display: flex;
justify-content: space-between;
margin-left: -40px;
}
.main_li {
list-style: none;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
width: 123px;
height: 19px;
color:#171616 ;
white-space: nowrap;
padding-top: 8px ;

}
.main_li_text {
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color:#171616 ;
white-space: nowrap;
width: 133px;
height: 19px;
list-style: none; 
padding-top: 8px;   
}
.inform {
background-image: url(../image/minh-pham-OtXADkUh3-I-unsplash\ 1.png);
width: 1389px;
height: 719px;
padding-top: 33px;
margin-left: 51px;
}
.inform_main {
display: flex;
justify-content: space-between ;
width: 1155px;
background: linear-gradient(89.58deg, #FFFFFF 26.64%, rgba(255, 255, 255, 0) 99.61%);
margin-left: -120px; 
margin-top: -35px;
height: 721px;
}
.main_left {
padding-left: 120px;
padding-top: 30px;
}

.grid_block {
display: grid;
grid-template-columns: repeat(2, 1fr);
padding-top: 64px;
}
.main_grid {
padding-top: 26px;
}

.h1 {
font-family: Roboto;
font-weight: 700;
font-size: 60px;
line-height: 100%;
letter-spacing: 0%;
width: 563px;
height: 140px;
color:#171616 ;
padding-top: 30px;
}
.main_text {
font-family: Roboto;
font-weight: 700;
font-size: 44px;
line-height: 100%;
letter-spacing: 0%;
width: 563px;
height: 70px;
padding-top: 31px;
}
.text_span_1 {
font-family: Roboto;
font-weight: 700;
font-size: 60px;
line-height: 100%;
letter-spacing: 0%;
background-color:#6CAC3D ;
color: #FFFFFF;
    
}
.grid_h3 {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
width: 211px;
height: 42px;
padding-top: 6px;
}
.main_right {
width: 461px;
height: 695px;
padding-left: 1px;
border-radius: 7px;
background-color:#FFFFFF ;
padding-left: 54px;
    }

label {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color:#595959;
width: 65px;
height: 16px;
padding-left: 5px;
}
.input_block {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 11px;
}
.input_block_1 {
display: grid;
grid-template-columns: repeat(2, 1fr);

}
.input_block_2 {
display: flex;

}
.block_2 {
padding-right: 20px;
}
.block_3_input {
width: 319px;
height: 6px;
border-radius: 3px;
padding-right: 250px;
}
.input_block_4 {
background-color:#F2F2F2 ;
display: flex;
width: 457px;
height: 76px;
margin-left: -52px;
margin-top: 24px;
margin-bottom: 19px;
}
.block {
padding-left: 54px;
}
.input_block_5 {
display: flex;
}
.block_5_input {
width: 203px;
height: 40px;
border-width: 1px;
border: 1px solid #CCCCCC;
margin-top: 6px;

}
.block_5_span {
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
width: 192px;
height: 19px;
padding-top: 17px;
}
.btn_5 {
width: 133px;
height: 48px;
top: 605px;
left: 273px;
border-radius: 4px;
background-color: #6CAC3D;
border: none;
margin-left: 15px;
}
.btn_span {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
width: 79px;
height: 21px;
color:#FFFFFF;
}

form {
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
width: 103px;
height: 19px;
color:#595959 ;
margin-bottom: 20px;
margin-top: 20px;
white-space: nowrap;
}
label{
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 90px;
height: 16px;
color:#595959 ;
}

.form_1 {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 11px;
margin-left: -6px;
}

.sroc_text {
display: flex;
justify-content: space-between;
}
.right_h3 {
font-family: 'Roboto';
font-weight: 900;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
width: 382px;
height: 23px;
padding-top: 38px;
padding-bottom: 28px;
white-space: nowrap;
}
.card_card {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
width: 1173px;
height: 679px;
margin-bottom: 45px;

}
.card_remont {
border-top-left-radius: 16px;
border-top-right-radius: 16px;
box-shadow: 0px 0px 10px 0px #93939340;
padding-left: 27px;
width: 285px;
height: 582px;
margin-top: 170px;

}
.card_text {
display: flex;
}
.card_p {
font-family: Roboto;
font-weight: 300;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 239px;
height: 108px;
padding-top: 20px;
}
.card_rectangle {
margin-left: -27px;
}
.card_text {
width: 284px;
height: 85px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
background: #E3EAEF;
margin-left: -27px;
   
}
.icon_card {
padding-left: 27px;
margin-top: 14px;
}
.card_right {
padding-left: 4px;
padding-top: 22px;
}
.card_h4 {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #6CAC3D;
width: 157px;
height: 21px;
white-space: nowrap;  
}
.card_h5 {
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 63px;
height: 16px;
white-space: nowrap;
}
.card_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
width: 328px;
height: 49px;
margin-left: 450px;
padding-top: 73px;
    
}
.catd_h5_1 {
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 72px;
height: 16px;
margin-top: 15px;
white-space: nowrap;
}
.card_h5_icon {
margin-top: 10px;
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 191px;
height: 16px;
padding-top: 10px;
white-space: nowrap;
}
.catd_h5_2{
padding-top: 18px;
margin-top: 19px;
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 122px;
height: 16px;
white-space: nowrap;
}
.catd_h5_3 {
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 121px;
height: 16px;
color:#C4C4C4 ;
margin-top: 22px;
white-space: nowrap;
}
.catd_h5_4 {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color:#2D4872 ; 
width: 121px;
height: 21px;
white-space: nowrap;
margin-top: 10px;
}

.catd_h5_4_1 {
padding-top: 45px;
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color:#2D4872 ; 
width: 121px;
height: 21px;
white-space: nowrap;
padding-bottom: 19px;
}
.card_btn {
width: 188px;
height: 48px;
border-radius: 4px;
background: #6CAC3D;
margin-top: 10px;
border: none;
margin-left: 20px;

}
.card_btn_1 {
width: 188px;
height: 48px;
border-radius: 4px;
background: #6CAC3D;
margin-top: 3px; 
border: none;
margin-left: 20px;
}
.number_h4 {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: line-through;
width: 104px; 
height: 16px; 
}
.number {
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #6CAC3D;
width: 125px; 
height: 21px;
margin-left: -35px;
}
.card_number {
display: flex;
white-space: nowrap;
padding-top: 5px;
}
.card_btn_h4 {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
width: 137px;
height: 21px;
padding-left: 20px;
white-space: nowrap;
}
.menu_item {
height: 850px;
background-color:#F8F8F8 ;   
margin-top: 75px;
}
.menu_primer_rabot {
height: 850px;
margin-top: 42px;
margin-bottom: 42px;
}
.primer_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
width:453px ;
height: 49px;
padding-top: 106px;
margin-left: 400px;
}
.primer_menu_btn {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 4px;
margin-top: 130px;
}
.primer_btn_1 {
width: 236px;
height: 48px;
border-radius: 4px;
background: #2D4872;

}
.primer_h3_1 {
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
width: 104px;
height: 19px; 
padding-left: 54px; 
}
.primer_btn {
width: 237px;
height: 48px;
border-radius: 4px;
background: #E6E6E6;
border: none;  
}
.primer_h3 {
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #595959; 
width: 110px;
height: 19px;
padding-left: 54px; 
white-space: nowrap;
}
.rabot_input {
height: 18px;
display: flex;
padding-top: 34px ;
padding-left: 250px;
}
.primer_input {
margin-right: 31px;
}
.primer_text {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #595959;
}
.primer_text_l {
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color:#171717 ; 
width: 39px;
height: 16px;  
}
.primer_foto {
width: 1098px;
height: 405px;
border-radius: 6px;
background: #FFFFFF;
display: flex;
margin-top: 33px;
}
.list_h3 {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
width: 55px;
height: 19px;
color:#595959 ;
white-space: nowrap;
padding-left: 7px;  
}
.list_primer {
display: flex;

}
.list_h3_1 {
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #171616; 
width: 94px;
height: 19px;
padding-left: 75px;
white-space: nowrap;
padding-top: 6px;
}
.style_right_1 {
padding-left: 58px;
padding-top: 40px;

}
.remont_style_1 {
padding-top: 220px;
margin-left: -130px;
margin-bottom: 9px;
}
.remont_h3 {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0%;
color: #171616;
}
.style_button {
width: 205px;
height: 48px;
top: 2450px;
left: 617px;
border-radius: 4px;
background: #6CAC3D;
border: none; 
margin-left: 490px;
margin-top: 14px;
}
.button_h3 {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
width: 143px;
height: 21px;
color: #FFFFFF;
padding-left: 23px;
white-space: nowrap;
}

.style_left {
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 6px;
padding-top: 33px;
}
.block_item{
width: 1219px;
height: 295px;
}
.block_text {
display: flex;
}
.primer_style {
display: flex;
justify-content: space-between;
}
.grid_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
width: 125px ;
height:49px ;  
padding-left: 510px ;
padding-top: 66px;
}
.foto_h3 {
font-family: Roboto;
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
white-space:nowrap ;
width: 171px;
height: 38px;
color: #171616;
padding-left: 80px;
padding-top: 70px;
}
.foto_p {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
width: 272px; 
height: 38px;
color: #171616;
padding-left: 58px;
padding-top: 30px;
white-space: nowrap;

}
.foto_p_1 {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
width: 272px; 
height: 38px;
color: #171616;
padding-left: 78px;
padding-top: 30px;
white-space: nowrap;
}
.foto_btn {
width: 205px;
height: 48px;
border-radius: 4px;
background: #6CAC3D;
border: none;
margin-left: 91px;
margin-top: 40px;
}
.btn_h3 {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
width: 147px;
height: 21px;
color: #FFFFFF;
padding-left: 25px;
white-space: nowrap;
}
.btn_close {
width: 205px;
height: 48px;
border-radius: 4px;
background-color: #FFFFFF;
border: 2px solid #6CAC3D;
margin-left: 500px;
margin-top: 25px;
}
.close_h3{
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #6CAC3D;
padding-left: 45px;
width: 87px;
height: 21px;
white-space: nowrap;

}
.foto_btn_1 {
width: 205px;
height: 48px;
border-radius: 4px;
background: #6CAC3D;
border: none;
margin-left: 91px;
margin-top: 80px;
margin-top: 40px;
}
.text_foto {
width: 387px;
height: 209px;
background: linear-gradient(359.28deg, #FFFFFF 16.58%, rgba(255, 255, 255, 0) 90.82%);
margin-top: -80px;
}
.text_foto_1 {
width: 387px;
height: 209px;
background: linear-gradient(359.28deg, #FFFFFF 16.58%, rgba(255, 255, 255, 0) 90.82%);
margin-top: -90px;
    }
.foto_1 {
background-image: url(../image/family-moving-using-boxes\ 1.png);
width: 387px;
height: 490px;
padding-top: 321px;
}
.foto_4{
background-image: url(../image/groom-black-tuxedo-hugs-tender-stunning-bride-while-they-stand\ 1.png);
width: 387px;
height: 490px;
padding-top: 321px;
margin-left: -300px;
}
.foto_5 {
background-image: url(../image/medium-shot-couple-posing-together\ 1.png);
width: 387px;
height: 490px;
padding-top: 321px;
}
.foto_akcent{
display: grid;
grid-template-columns: repeat(3, 1fr);
padding-top: 70px;
}
.vremj_inform {

padding-top: 57px;
}
.vremj_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
color: #171616; 
width: 353px;
height: 49px;
padding-left: 410px;
white-space: nowrap;
}
.vremj_p {
font-family: Roboto;
font-weight: 300;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
margin-left: 310px;
color: #171616;
width: 773px;
height: 42px;
text-indent: -110px;
}
.display_1 {
display: flex;
justify-content: space-between;
padding-top: 70px;

}
.display_2 {
display: flex;
justify-content: space-between;
padding-top: 24px;
padding-bottom: 10px;
}
.text_span {
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
width: 93px;
height: 57px;
padding-left: 8px;   
}
.number_2 {
height:850px ;
background: #F8F8F8;
margin-top: 51px;
}
.text_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
width: 829px;
height: 98px;
text-indent: -180px;
margin-left: 340px;
padding-top: 54px;
}
.dostavka {
height: 188;
border-radius: 6px;
background: #FFFFFF;
box-shadow: 0px 0px 10px 0px #C0C0C040;
margin-top: 80px;
}
.dostavka_list_1 {
display: grid;
grid-template-columns: repeat(5, 1fr);
}
.dostavka_list {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 30px;
padding-left: 10px;
padding-top: 50px;
}
.list_h3 {
font-family: Roboto;
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #171616;
padding-top: 6px;
margin-bottom: 10px;
}
.section_text {
padding-left: 230px;
margin-top: 54px;
}
.section_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
white-space: nowrap;
color: #171616;
width:735px ;
height: 49px;
}
.section_p {
font-family: Roboto;
font-weight: 300;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
width: 732px;
height: 21px;
white-space: nowrap;
color: #171616;
}
.section_time {
margin-top: 59px;
margin-left: -200px;
}
.section_right {
padding-left: 24px;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 13px 58px;
}


.h3_1 {
font-family: Roboto;
font-weight: 700;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
color: #6CAC3D;
width: 59px;
height: 35px;  
}
.span {
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
width: 59px;
height: 35px;     
color: #C4C4C4 ;
}
.h3_h3 {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #171616;
width: 207px;
height: 42px;
padding-top: 11px;
    
}
.p_p {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 220px;
height: 64px;
color: #171616; 
}
.list {
width: 46px ;
height: 46px ;
}
.block_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
width: 419px;
height: 49px ;
color: #171616;
padding-left: 280px;
white-space: nowrap;
padding-top: 115px; 
}
.block_left {
margin-top: 106px;

}
.block_right {
padding-top: 33px;

}

.item_h3 {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
white-space: nowrap;
width: 288px;
height: 21px;
color: #171616;
padding-top: 4px;
}
.text_image {
width: 33px;
height: 33px;
}
.item_span {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 285px;
height: 64px;
color: #171616;
}
.block_text{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
margin-left: -140px;

}
.otzov_block {
background: #F8F8F8;
height: 942px;
margin-top: 100px;
}
.otzov_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
padding-left: 400px;
width: 166px;
height: 49px;
color: #171616;
padding-top: 29px;
}
.video_left_1 {
height: 80px;
background-color: #FFFFFF;
margin-top: 115px;

}
.video_left {
height: 80px;
background-color: #FFFFFF;
margin-top: 300px;
}
.youtube_video {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap:98px ;
margin-top: 69px;

}
.video_1 {
background-image: url(../image/Rectangle\ 37.png);
width: 586px;
height: 298px;
margin-left: -100px;
}
.video_2 {
background-image: url(../image/Rectangle\ 37.png);
width: 586px;
height: 298px;
margin-left: -100px;
}
.video_3 {
background-image: url(../image/Rectangle\ 37.png);
width: 586px;
height: 298px;
margin-left: -100px;
}
.video_4 {
background-image: url(../image/Rectangle\ 37.png);
width: 586px;
height: 298px;
margin-left: -100px;
}
.icon_otzov {
width: 60px;
height: 60px;
margin-top: 119px;
margin-left: 239px;
}
.otzov_p {
padding-top: 20px;
padding-left: 20px;
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 155px;
height: 16px;
color: #171616;
white-space: nowrap;

}
.otzov_span {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #6CAC3D;
width: 215px;
height: 21px;

}
.video_h3 {
padding-left: 18px;
padding-top: 10px;
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 386px;
height: 16px;
color: #171616;
white-space: nowrap;
}
.comand_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
padding-left: 450px;
color: #171616;
width: 294px ;
height:49px ;
white-space: nowrap ;
padding-top: 73px;
}
.main_menu {
padding-top: 41px;
}
.menu {
display: flex;
margin-left: -60px;
}
.main_li {
margin-right: 42px;
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
width: 145px ;
height: 21px;
color: #171616;
}
.main_image {
background: linear-gradient(0deg, #D1D1D1, #D1D1D1),
linear-gradient(0deg, #F2F2F2, #F2F2F2);
width: 1161px;
height: 6px;
border-radius: 3px;

}
.comand_comand {
display: flex;
}
.comand_left {
padding-right: 84px;
}
.comand_icon {
width: 621;
height: 378;
margin-left: -100px;
margin-right: 100px;
}
.comand_right {
padding-top: 99px;
margin-left: -120px;
}
.span_name {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #6CAC3D;
width: 135px;
height: 21px;
}
.comand_h3 {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #171616; 
width: 409px;
height: 21px;
padding-top: 15px;
}
.comand_h4 {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0%;
color: #171616;
width: 406px;
height: 18px;
padding-top: 30px;
}
.comand_text {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0%;
width: 231px;
height: 44px;
color: #171616;
margin-top: -25px;
}
.text_article {
padding-top: 50px;
}
.comand_btn {
padding-top: 36px;
padding-left: 500px;
}
.portfolio {
height: 1067px;
background: #F8F8F8;
margin-top: 88px;
}
.portfolio_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
padding-left: 380px;
color: #171616;
width: 468px ;
height: 49px;
white-space: nowrap;
padding-top: 31px;   
}
.foto_item {
display: grid;
grid-template-columns: repeat(3, 1fr);
}
.foto_top_1 {
width: 584px;
height: 411px;
border-radius: 8px;
border-width: 1px;
border: 1px solid #D1D1D1;
margin-top: 51px;  
}
.foto_top {
width: 296px;
height: 212px;
border-radius: 8px;
margin-top: 311px;
}
.foto_top_2 {
width: 296px;
height: 212px;
border-radius: 8px;
margin-top: 311px;
padding-left: 15px;
}

.portfolio_btn {
padding-top: 36px;
padding-left: 500px;
}
.comand_input {
width: 18px;
height: 18px;
border-width: 2px;
background: #F2F2F2;
border: 2px solid #2D4872;
}
.team_portfolio {
display: grid;
gap: 57px;
grid-template-columns: repeat(2, 1fr);
margin-top: 109px;
}
.portfolio_left {
background-image: url(../image/Rectangle\ 37.png);
width: 586px;
height: 298px;
}
.left_team {
margin-top: 119px;
margin-left: 263px;
width: 60px;
height: 60px;
}
.portfolio_right {
width: 475px;
height: 298px;
background: #FFFFFF;
box-shadow: 0px 0px 10px 0px #D7D7D740;
}
.portfolio_text_h3 {
padding-left: 24px;
padding-top: 6px;
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
color: #171616;
}
.text_text {
margin-top: 74px;
}
.canal_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
width: 393px;
height: 49px;
color: #171616;
padding-top: 71px;
padding-left: 400px;
white-space: nowrap;
    
}
.canal_item {
margin-top: 91px;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 19px;
}
.canal_grid_1 {
background-image: url(../image/Rectangle\ 37.png);
width: 390px;
height: 226px;
}
.canal_image {
margin-top: 83px;
margin-left: 163px;
}
.post {
background-image: url(../image/minh-pham-OtXADkUh3-I-unsplash\ 1.png);
height: 548px;
width: 1390px;
margin-top: 88px;
}
.post_left {
padding-left: 100px ;
padding-top: 77px;

}
.post_h2 {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
width: 556px;
height: 49px;
color: #171616;
}
.post_p {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #171616;
width: 550px;  
height: 38px;
}
.post_team {
width: 590px;
height: 213px;
background: #FFFFFF;
box-shadow: 0px 0px 10px 0px #D7D7D740;
padding-top: 58px;
padding-left: 23px;
}
.left_text {
display: flex;
}
.left_p {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
width: 336px;
height: 38px;
margin-top: 5px;
}
.span_h3 {
padding-top: 32px;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #595959;
width: 31px;
height: 19px;
padding-left: 4px;
}
.post_span {
font-family: Roboto;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
color:#FFFFFF ;
white-space: nowrap;
width: 148px;
height: 49px;
border-radius: 9px;
background: #2D4872;
padding-left: 7px;
padding-top: 3px;
}
.left_span {
display: flex;
}
.post_btn {
 width: 205px;
 height: 48px;
border-radius: 4px;
background-color: #6CAC3D;
border: none;
margin-left: 162px;
margin-top: 39px;
}
.btn {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
width: 143px;
height: 21px;
    
}
.post_right {
display: grid;
grid-template-columns: repeat(3, 1fr);
}
.post_image {
}
.post_icon {
}
.foto_group {
margin-top: 34px;
display: grid;
grid-template-columns: repeat(2, 1fr);
}
.section_time {
display: flex;
}
.footer_team {
display: flex;
justify-content: space-between;
}
.end_iteam {
display: flex;
justify-content: space-between;
}
.footer_footer {
display: flex;
justify-content: space-between;
}