html{
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6 {
 margin: 0;
}

.container {
width: 100%;
max-width: 1440px;
margin: 0 auto;
padding: 0 120px;
}
body {
margin: 0;
font-family: 'Roboto', sans-serif;
}

.block_menu {
display: flex;
justify-content: space-between;
}

.block_ul {
display: flex;
list-style: none;
}
.block_item_li {
margin-right: 24px;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
height: 19px;
}
.number {
padding-left: 46px;
;
}
.icon_number {
margin-left: -2px;
}
.number_tel {
width: 160px;
height: 21px;
}
.number_h4 {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
width: 180px;
height: 16px;
white-space: nowrap;
}

.block_button {
margin-left: 33px;
width: 173px;
height: 45px;
left: 1027px;
border-width: 1px;
border-radius: 3px;
border: 1px solid #6CAC3D;
background-color:#FFFFFF ;
}
.button_h4 {
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #6CAC3D;
width: 172px;
height: 19px;
padding-right: 15px;
}
.li_span {
color: blue;
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}
.icon {
width: 126px;
height: 44px;
}
.main_menu {
margin-top: 23px;
margin-bottom: 33px;
}
.main_ul {
display: flex;
justify-content: space-between;
margin-left: -40px;
}
.main_li {
list-style: none;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
width: 123px;
height: 19px;
color:#171616 ;
white-space: nowrap;
margin-top: -3px ;
}
.main_li_text {
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color:#171616 ;
white-space: nowrap;
width: 133px;
height: 19px;
list-style: none; 
padding-top: 8px;   
}
.inform {
background-image: url(../image/minh-pham-OtXADkUh3-I-unsplash\ 1.png);
width: 1389px;
height: 719px;
padding-top: 33px;
margin-left: 51px;
}
.inform_main {
display: flex;
justify-content: space-between ;
width: 1155px;


background: linear-gradient(89.58deg, #FFFFFF 26.64%, rgba(255, 255, 255, 0) 99.61%);
margin-left: -120px; 
margin-top: -35px;
}
.main_left {
padding-left: 120px;
padding-top: 30px;
}

.grid_block {
display: grid;
grid-template-columns: repeat(2, 1fr);
}

.main_right {
width: 461px;
height: 695px;
padding-left: 1px;
border-radius: 7px;
background-color:#FFFFFF ;
}

.card_card {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 21px;
margin-top: 48px;
width: 285px;
height: 582px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
box-shadow: 0px 0px 10px 0px #93939340;
}
.card_h2 {
padding-top: 73px;
text-align: center;  
}

.card_text {
width: 284px;
height: 85px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
background: #E3EAEF;
  
}

.style_left {
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 6px;
}
.block_item{
width: 1219px;
height: 295px;
}
.block_text {
display: flex;
justify-content:space-between ;
}
.primer_menu_btn {
display: flex;
justify-content: space-between;
}
.rabot_input{
display: flex;
padding-left: 387px;
height: 18px;
}
.primer_style {
display: flex;
justify-content: space-between;
}
.article_grid{
display: grid;
grid-template-columns: repeat(3, 1fr);
}
.block_5 {
display: flex;
justify-content: space-between;
}
.dostavka{
display: flex;
justify-content: space-between;
}
.foto_group {
display: grid;
grid-template-columns: repeat(2, 1fr);
}
.section_time {
display: flex;

}
.section_right{
display: grid;
grid-template-columns: repeat(3, 1fr);
}
.block_text{
display: flex;
}
.youtube_video {
display: grid;
grid-template-columns: repeat(2, 1fr);
}
.menu {
display: flex;
justify-content: space-between;
}
.comand_comand {
display: flex;
}
.foto_item {
display: grid;
grid-template-columns: repeat(3, 1fr);
}
.team_portfolio {
display: flex;
}
.canal_item {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 19px;
}
.post_text {
display: flex;
}
.post_right {
display: grid;
grid-template-columns: repeat(3, 1fr);
}
.footer_team {
display: flex;
justify-content: space-between;
}
.end_iteam {
display: flex;
justify-content: space-between;
}
.footer_footer {
display: flex;
justify-content: space-between;
}